* { box-sizing: border-box; } /* Force width and height to include padding */
body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
}
h1 { display: inline; }
h1 {
    color: palegoldenrod;
}
.title {
    width: 40%;
}
.subtitle-container {
    width: 60%;
    padding: 5px 15px;

    float: right;

    font-size: .85rem;
    font-family: serif;
}
.author {
    clear: right;
    font-weight: bold;
    line-height: 1.5;
}
.container {
    position: relative;
}
.background-image {
    height: 100vh; 
    
    position: absolute;
    z-index: -1; /* This means it will be behind all other content */
}
.content {
    width: 50%;
    max-height: 100vh;
    max-width: 530px;
    padding: 5rem;

    position: absolute;
    right: 0;

    background: rgba(0, 0, 0, .8);
    color: white;
    overflow: scroll; /* Adds a scrollbar to the text next to the image */
}
.lead {
    white-space: nowrap; /* Keeps all text within on one line */
    text-transform: uppercase;
    font-weight: bold;
    font-family: serif;
    line-height: 1.5;
}
.yet {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 6rem;
    padding: 0 2rem;
    color: palegoldenrod;
    background: rgba(0, 0, 0, .8);
}