* { box-sizing: border-box; }
body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
}
h1, h2, h3 { display: inline; }
h1 {
    color: palegoldenrod;
}
.title {
    width: 40%;
}
.subtitle-container {
    width: 60%;
    float: right;
    padding: 5px 15px;
    font-size: .85rem;
    font-family: serif;
}
.author {
    clear: right;
    font-weight: 700;
}
.container {
    position: relative;
}
.background-image {
    position: absolute;
    z-index: -1; /* This means it will be behind all other content */
    height: 100vh;
}
.content {
    position: absolute;
    width: 50%;
    right: 0;
    background: rgba(0, 0, 0, .8);
    color: white;
    padding: 5rem;
    max-height: 100vh;
    max-width: 530px;
    overflow: scroll;
}